:root {
  font-family: Hind_Madurai, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  background-color: #eaf0ee;
  --dark: rgba(29, 25, 41);
  color: --dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@font-face {
  font-family: DMSerifItalic;
  src: url("src/assets/DM_Serif_Text/DMSerifText-Italic.ttf");
}

@font-face {
  font-family: DMSerifRegular;
  src: url("src/assets/DM_Serif_Text/DMSerifText-Regular.ttf");
}
@font-face {
  font-family: Hind_Madurai;
  src: url("src/assets/Hind_Madurai/HindMadurai-Regular.ttf");
}

a, p {
  font-weight: 500;
  color: #242424;
  text-decoration: inherit;
}
a:hover {
  color: #374337;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  font-family: DMSerifItalic, sans-serif;
  line-height: 1.1;
  margin: .3em;
  padding: 0;
  color: var(--dark);
}

h1 { font-size: 3.5em; }
h2 { font-size: 2.25em; }
h3 { font-size: 1.755em; }
h4 { font-size: 1.5em; }
h5 { font-size: 1.245em; }
h6 { font-size: 1.005em; }

button, a {
  border-radius: 8px;
  border: 1px solid transparent;
  margin: .3em;
  padding: 0.6em .6em;
  font-size: 1.5em;
  font-weight: 500;
  font-family: inherit;
  background-color: inherit;
  cursor: pointer;
  transition: background-color 0.15s;
}
button:hover, a:hover{
  background-color: #d1e0db;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input {
  font-family: inherit;
  font-size: 1em;
  padding: 0.6em .6em;
  border-radius: 8px;
  background-color: white;
  border: none;
  margin: .3em;
  width: 80%;
}

input:focus {
  background-color: white;
  box-shadow: 0 0 0 3px rgba(145, 194, 167, 0.5);
}

form {
  border-radius: 8px;
  border-color: #a6c1b8;
  border-width: 2px;
  border-style: solid;
}